extends layout

block content
    



  br
  .container


    .row.jumbotron
        .row-eq-height    
            section.col-sm-12
                h2.text-center
                    strong Wellbeing Impact Assesment Results
                br
                p.text-left 
                    strong User Name: 
                    |   #{finaldata.user}
                p.text-left 
                    strong Project Name: 
                    |   #{finaldata.projectName}
                p.text-left 
                    strong Project Description: 
                    |   #{finaldata.projectInfo}
                button.btn.btn-danger(type='button' onclick='makePDF()') Export to PDF 

            
        .row-eq-height    
            section#yellow.text-left.col-sm-6                
                h2#whitetext.text-center  #{finaldata.prosperous["wellbeingCategory"]}
                br 
                p 
                    strong Positive Project Impacts:
                    |  #{finaldata.prosperous["positive"]}
                p 
                    strong Negative Project Impacts: 
                    |   #{finaldata.prosperous["negative"]}
                p 
                    strong Recommendations & Mitigation:
                    |    #{finaldata.prosperous["mitigation"]}
        
            section#orange.text-left.col-sm-6                
                h2#whitetext.text-center  #{finaldata.resilient["wellbeingCategory"]}
                br 
                p 
                    strong Positive Project Impacts:
                    |  #{finaldata.resilient["positive"]}
                p 
                    strong Negative Project Impacts: 
                    |   #{finaldata.resilient["negative"]}
                p 
                    strong Recommendations & Mitigation:
                    |    #{finaldata.resilient["mitigation"]}
            
        .row-eq-height   
            section#red.text-left.col-sm-6                
                h2#whitetext.text-center  #{finaldata.healthier["wellbeingCategory"]}
                br 
                p 
                    strong Positive Project Impacts:
                    |  #{finaldata.healthier["positive"]}
                p 
                    strong Negative Project Impacts: 
                    |   #{finaldata.healthier["negative"]}
                p 
                    strong Recommendations & Mitigation:
                    |    #{finaldata.healthier["mitigation"]}

            section#darkred.text-left.col-sm-6                
                h2#whitetext.text-center  #{finaldata.equal["wellbeingCategory"]}
                br 
                p 
                    strong Positive Project Impacts:
                    |  #{finaldata.equal["positive"]}
                p 
                    strong Negative Project Impacts: 
                    |   #{finaldata.equal["negative"]}
                p 
                    strong Recommendations & Mitigation:
                    |    #{finaldata.equal["mitigation"]}  

        .row-eq-height 
            section#darkblue.text-left.col-sm-6                
                h2#whitetext.text-center  #{finaldata.cohesive["wellbeingCategory"]}
                br 
                p 
                    strong Positive Project Impacts:
                    |  #{finaldata.cohesive["positive"]}
                p 
                    strong Negative Project Impacts: 
                    |   #{finaldata.cohesive["negative"]}
                p 
                    strong Recommendations & Mitigation:
                    |    #{finaldata.cohesive["mitigation"]}  

            section#blue.text-left.col-sm-6                
                h2#whitetext.text-center  #{finaldata.vibrant["wellbeingCategory"]}
                br 
                p 
                    strong Positive Project Impacts:
                    |  #{finaldata.vibrant["positive"]}
                p 
                    strong Negative Project Impacts: 
                    |   #{finaldata.vibrant["negative"]}
                p 
                    strong Recommendations & Mitigation:
                    |    #{finaldata.vibrant["mitigation"]} 

        .row-eq-height 
            section#lightblue.text-left.col-sm-6                
                h2#whitetext.text-center  #{finaldata.global["wellbeingCategory"]}
                br 
                p 
                    strong Positive Project Impacts:
                    |  #{finaldata.global["positive"]}
                p 
                    strong Negative Project Impacts: 
                    |   #{finaldata.global["negative"]}
                p 
                    strong Recommendations & Mitigation:
                    |    #{finaldata.global["mitigation"]}   
            
                
 
                    
             
            .chart-container.col-sm-6.center-block(style='position: relative; height:15vh; width:30vw')
                br
                canvas#myChart(width='400', height='400')

                    input#radarData(type='hidden', value=radarArray)

            script.

                function makePDF() {
                    window.print();
                }
                var b = JSON.parse(document.getElementById("radarData").value);
                var jsonArraytoString = $.map(b,function(el) { return el })
                var RadArrayInt = jsonArraytoString.map(Number)
                console.log(RadArrayInt)

                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                type: 'radar',
                data: {
                labels: ["Prosperous", "Resilient", "Healthier", "Equal", "Cohesive", "Vibrant", "Global"],
                datasets: [{
                label: "Wellbeing Ranking",
                
                backgroundColor: 'rgb(38, 102, 239)',
                borderColor:  'rgb(38, 102, 239)',

                data: RadArrayInt,
                }]
                },
                options: {

                    scale: {
                        ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: 5,
                        stepSize: 1
                        },
                        pointLabels: {
                        fontSize: 18
                        }
                    },
                    legend: {
                        position: 'bottom'
                        
                    }


                }
                });


